{# The main page of the application #}

{% extends "_common.njk" %}

{% block content %}
<!-- Header -->
<header class="bg-primary text-center py-5 mb-4" id="team" style="background-image: url('./_shared/img/team.jpg')">
  <div id="header-team">
    <h1 class="font-weight-light " id="h1-team">Meet the Team</h1>
  </div>
</header>

<!-- Page Content -->
<div class="container">
  <div class="row">
    
    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="./_shared/img/sam.png" class="card-img-top cover teammember" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Samuel</h5>
          <p class="card-text text-black-50">Senior Web Developer</p>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="./_shared/img/christophe.jpg" class="card-img-top cover teammember" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Christophe</h5>
          <p class="card-text text-black-50">Junior Web Developer</p>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="./_shared/img/thibaut.jpeg" class="card-img-top cover teammember" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Thibaut</h5>
          <p class="card-text text-black-50">Junior Web Developer</p>
        </div>
      </div>
    </div>
    
    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="./_shared/img/jamal.png" class="card-img-top cover teammember" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Jamal</h5>
          <p class="card-text text-black-50">Junior Web Developer</p>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="./_shared/img/vincent.jpeg" class="card-img-top cover teammember" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Vincent</h5>
          <p class="card-text text-black-50">Junior Web Developer</p>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="./_shared/img/simon.jpeg" class="card-img-top cover teammember" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Simon</h5>
          <p class="card-text text-black-50">Junior Web Developer</p>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="./_shared/img/pauline.jpeg" class="card-img-top cover teammember" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Pauline</h5>
          <p class="card-text text-black-50">Junior Web Developer</p>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="./_shared/img/jeremy.jpeg" class="card-img-top cover teammember" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Jeremy</h5>
          <p class="card-text text-black-50">Junior Web Developer</p>
        </div>
      </div>
    </div>

  <div class="col-xl-6 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="./_shared/img/matthieu.jpg" class="card-img-top cover teammember" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Matthieu</h5>
          <p class="card-text text-black-50">Junior web Developer</p>
        </div>
      </div>
  </div>

  <div class="col-xl-6 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="./_shared/img/alex.jpg" class="card-img-top cover teammember" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Alexandre</h5>
          <p class="card-text text-black-50">Junior web Developer</p>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="./_shared/img/vadim.jpeg" class="card-img-top cover teammember" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Vadim</h5>
          <p class="card-text text-black-50">Junior Web Developer</p>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="./_shared/img/julien.png" class="card-img-top cover teammember" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Julien</h5>
          <p class="card-text text-black-50">Junior Web Developer</p>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="./_shared/img/Nadine.jpg" class="card-img-top cover teammember" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Nadine</h5>
          <p class="card-text text-black-50">Junior Web Developer</p>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="./_shared/img/lara.jpeg" class="card-img-top cover teammember" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Lara</h5>
          <p class="card-text text-black-50">Junior Web Developer</p>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="./_shared/img/louis.png" class="card-img-top cover teammember" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Louis</h5>
          <p class="card-text text-black-50">Junior Web Developer</p>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="./_shared/img/michael.png" class="card-img-top cover teammember" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Michael</h5>
          <p class="card-text text-black-50">Junior Web Developer</p>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="./_shared/img/tux-wizard.jpg" class="card-img-top cover teammember" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Tux Wizard</h5>
          <p class="card-text text-black-50">God Tier Developer/ debugger/ God</p>
        </div>
      </div>
    </div>

    

  </div>

  
  <!-- /.row -->

</div>
<!-- /.container -->
{% endblock %}